<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.server.mapper.JobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxx.server.pojo.Job">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="experience" property="experience" />
        <result column="qualification" property="qualification" />
        <result column="salary" property="salary" />
        <result column="tag" property="tag" />
        <result column="company_id" property="company_id" />
        <result column="user_id" property="user_id" />
        <result column="interviewerDuty" property="interviewerDuty" />
        <result column="posted_at" property="posted_at" />
        <result column="created_at" property="created_at" />
        <result column="updated_at" property="updated_at" />
    </resultMap>

    <resultMap id="getAllJobWithCompany" type="com.xxx.server.pojo.Job" extends="BaseResultMap">
        <collection property="users" ofType="com.xxx.server.pojo.Users">
            <id column="uid" property="id"/>
            <result column="username" property="username"/>
        </collection>
        <collection property="company" ofType="com.xxx.server.pojo.Company">
            <id column="cid" property="id"/>
            <result column="cname" property="name"/>
            <result column="ctag" property="tag"/>
            <result column="size" property="size"/>
            <result column="address" property="address"/>
            <result column="icon" property="icon"/>
            <result column="benefit" property="benefit"/>
        </collection>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, experience, qualification, salary, tag, company_id,user_id,interviewerDuty, posted_at, created_at, updated_at
    </sql>

<!--    查询筛选的职位-->
    <select id="getAllJobWithSearch" resultMap="getAllJobWithCompany">
        SELECT
            job.id,
            job.NAME,
            job.experience,
            job.qualification,
            job.salary,
            job.tag,
            job.posted_at,
            job.created_at,
            job.updated_at,
            job.interviewerDuty,
            company.id AS cid,
            company.NAME AS cname,
            company.tag AS ctag,
            company.size,
            company.address,
            company.icon,
            company.benefit,
            users.id AS uid,
            users.username
        FROM
            job
            LEFT JOIN company ON job.company_id = company.id
            LEFT JOIN users ON job.user_id = users.id
        where
            1=1
        <if test="null!=jobSearchParam.search and ''!=jobSearchParam.search">
            AND (company.`name` LIKE CONCAT('%',#{jobSearchParam.search},'%') or job.`name`LIKE CONCAT('%',#{jobSearchParam.search},'%'))
        </if>
        <if test="null!=jobSearchParam.c_address and ''!=jobSearchParam.c_address">
            AND company.`address` LIKE CONCAT('%',#{jobSearchParam.c_address},'%')
        </if>
        <if test="null!=jobSearchParam.experience and ''!=jobSearchParam.experience">
            AND job.`experience` =#{jobSearchParam.experience}
        </if>
        <if test="null!=jobSearchParam.qualification and ''!=jobSearchParam.qualification">
            AND job.`qualification` =#{jobSearchParam.qualification}
        </if>
        <if test="null!=jobSearchParam.salary and ''!=jobSearchParam.salary">
            AND job.`salary` =#{jobSearchParam.salary}
        </if>
        <if test="null!=jobSearchParam.c_size and ''!=jobSearchParam.c_size">
            AND company.`size` =jobSearchParam.c_size
        </if>
        ORDER BY
            job.id
    </select>


<!--    查询所有职位-->
    <select id="getAllJob" resultMap="getAllJobWithCompany">
        SELECT
            job.id,
            job.NAME,
            job.experience,
            job.qualification,
            job.salary,
            job.tag,
            job.posted_at,
            job.created_at,
            job.updated_at,
            job.interviewerDuty,
            company.id AS cid,
            company.NAME AS cname,
            company.tag AS ctag,
            company.size,
            company.address,
            company.icon,
            company.benefit,
            users.id AS uid,
            users.username
        FROM
            job
            LEFT JOIN company ON job.company_id = company.id
            LEFT JOIN users ON job.user_id = users.id
        where
            1=1
        ORDER BY
            job.id
    </select>

</mapper>
