<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.server.mapper.JobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxx.server.pojo.Job">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="experience" property="experience" />
        <result column="qualification" property="qualification" />
        <result column="salary" property="salary" />
        <result column="tag" property="tag" />
        <result column="company_id" property="company_id" />
        <result column="user_id" property="user_id" />
        <result column="interviewerDuty" property="interviewerDuty" />
        <result column="recruit_num" property="recruit_num"/>
        <result column="description" property="description"/>
        <result column="requirement" property="requirement"/>
        <result column="benefit" property="benefit"/>
        <result column="attached_info" property="attached_info"/>
        <result column="status" property="status"/>
        <result column="posted_at" property="posted_at" />
        <result column="created_at" property="created_at" />
        <result column="updated_at" property="updated_at" />
    </resultMap>

    <resultMap id="getAllJobWithCompany" type="com.xxx.server.pojo.Job" extends="BaseResultMap">
        <collection property="users" ofType="com.xxx.server.pojo.Users">
            <id column="uid" property="id"/>
            <result column="username" property="username"/>
            <result column="avatar_url" property="avatar_url"/>
        </collection>
        <collection property="company" ofType="com.xxx.server.pojo.Company">
            <id column="cid" property="id"/>
            <result column="cname" property="name"/>
            <result column="ctag" property="tag"/>
            <result column="size" property="size"/>
            <result column="address" property="address"/>
            <result column="icon" property="icon"/>
            <result column="benefit" property="benefit"/>
            <result column="type" property="type"/>
            <result column="website" property="website"/>
        </collection>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, experience, qualification, salary, tag, company_id,user_id,interviewerDuty, posted_at, created_at, updated_at
    </sql>

<!--    查询筛选的职位-->
    <select id="getAllJobWithSearch" resultMap="getAllJobWithCompany">
        SELECT
            job.id,
            job.NAME,
            job.experience,
            job.qualification,
            job.salary,
            job.tag,
            job.posted_at,
            job.created_at,
            job.updated_at,
            job.interviewerDuty,
            company.id AS cid,
            company.NAME AS cname,
            company.tag AS ctag,
            company.size,
            company.address,
            company.icon,
            company.benefit,
            users.id AS uid,
            users.username
        FROM
            job
            LEFT JOIN company ON job.company_id = company.id
            LEFT JOIN users ON job.user_id = users.id
        where
            1=1
          and job.status="0"
        <if test="null!=jobSearchParam.search and ''!=jobSearchParam.search">
            AND (company.`name` LIKE CONCAT('%',#{jobSearchParam.search},'%') or job.`name`LIKE CONCAT('%',#{jobSearchParam.search},'%'))
        </if>
        <if test="null!=jobSearchParam.c_address and ''!=jobSearchParam.c_address">
            AND company.`address` LIKE CONCAT('%',#{jobSearchParam.c_address},'%')
        </if>
        <if test="null!=jobSearchParam.experience and ''!=jobSearchParam.experience">
            AND job.`experience` =#{jobSearchParam.experience}
        </if>
        <if test="null!=jobSearchParam.qualification and ''!=jobSearchParam.qualification">
            AND job.`qualification` =#{jobSearchParam.qualification}
        </if>
        <if test="null!=jobSearchParam.salary and ''!=jobSearchParam.salary">
            AND job.`salary` LIKE CONCAT('%',#{jobSearchParam.salary},'%')
        </if>
        <if test="null!=jobSearchParam.c_size and ''!=jobSearchParam.c_size">
            AND company.`size` =#{jobSearchParam.c_size}
        </if>
        ORDER BY
            job.id
    </select>


<!--    查询所有职位-->
    <select id="getAllJob" resultMap="getAllJobWithCompany">
        SELECT
            job.id,
            job.NAME,
            job.experience,
            job.qualification,
            job.salary,
            job.tag,
            job.posted_at,
            job.created_at,
            job.updated_at,
            job.interviewerDuty,
            company.id AS cid,
            company.NAME AS cname,
            company.tag AS ctag,
            company.size,
            company.address,
            company.icon,
            company.benefit,
            users.id AS uid,
            users.username
        FROM
            job
            LEFT JOIN company ON job.company_id = company.id
            LEFT JOIN users ON job.user_id = users.id
        where
            1=1
          and job.status="0"

        ORDER BY
            job.id
        LIMIT  9

    </select>

<!--    获取少量job-->
    <select id="getLittleJob" resultMap="getAllJobWithCompany">
        SELECT
            job.id,
            job.NAME,
            job.experience,
            job.qualification,
            job.salary,
            job.tag,
            job.posted_at,
            job.created_at,
            job.updated_at,
            job.interviewerDuty,
            company.id AS cid,
            company.NAME AS cname,
            company.tag AS ctag,
            company.size,
            company.address,
            company.icon,
            company.benefit,
            users.id AS uid,
            users.username
        FROM
            job
                LEFT JOIN company ON job.company_id = company.id
                LEFT JOIN users ON job.user_id = users.id

        WHERE
            1 = 1
          and job.status="0"
        ORDER BY
	        job.id
        LIMIT  #{limit}
    </select>

<!--    根据id查询job不需要判断下线-->
    <select id="getJobDetailById" resultMap="getAllJobWithCompany">
        SELECT
            job.id,
            job.NAME,
            job.experience,
            job.qualification,
            job.salary,
            job.tag,
            job.posted_at,
            job.created_at,
            job.updated_at,
            job.interviewerDuty,
            job.recruit_num,
            job.description,
            job.attached_info,
            job.requirement,
            job.benefit,
            job.recruit_num,
            job.status,
            company.type,
            company.website,
            company.id AS cid,
            company.NAME AS cname,
            company.tag AS ctag,
            company.size,
            company.address,
            company.icon,
            company.benefit,
            users.id AS uid,
            users.username
        FROM
            job
                LEFT JOIN company ON job.company_id = company.id
                LEFT JOIN users ON job.user_id = users.id
        WHERE
            job.id = #{id}
--           and job.status="0"


    </select>
<!--根据id查询job需要判断下线-->
    <select id="getJobById" resultMap="getAllJobWithCompany">
        SELECT
            job.id,
            job.NAME,
            job.experience,
            job.qualification,
            job.salary,
            job.tag,
            job.posted_at,
            job.created_at,
            job.updated_at,
            job.interviewerDuty,
            job.recruit_num,
            job.description,
            job.attached_info,
            job.requirement,
            job.benefit,
            job.recruit_num,
            job.status,
            company.type,
            company.website,
            company.id AS cid,
            company.NAME AS cname,
            company.tag AS ctag,
            company.size,
            company.address,
            company.icon,
            company.benefit,
            users.id AS uid,
            users.username
        FROM
            job
                LEFT JOIN company ON job.company_id = company.id
                LEFT JOIN users ON job.user_id = users.id
        WHERE
            job.id = #{id}
          and job.status="0"

    </select>
<!--根据公司id查询job-->
    <select id="getJobByCompanyId" resultMap="getAllJobWithCompany">
        SELECT
            job.id,
            job.NAME,
            job.experience,
            job.qualification,
            job.salary,
            job.tag,
            job.posted_at,
            job.created_at,
            job.updated_at,
            job.interviewerDuty,
            company.id AS cid,
            company.address,
            users.id AS uid,
            users.username,
            users.avatar_url
        FROM
            job
                LEFT JOIN company ON job.company_id = company.id
                LEFT JOIN users ON job.user_id = users.id
        where
            company.id=#{cid}
            and job.status="0"
        ORDER BY
            job.id


        limit 4;
    </select>
<!--根据公司id查询job信息(分页)-->
    <select id="getJobByPageWithCompanyId" resultMap="getAllJobWithCompany">
        SELECT
            job.id,
            job.NAME,
            job.salary,
            job.experience,
            job.qualification,
            job.interviewerDuty,
            company.address,
            users.username,
            users.avatar_url
        FROM
            job
                LEFT JOIN company ON job.company_id = company.id
                LEFT JOIN users ON job.user_id = users.id
        WHERE
            company.id = #{cid}
        and job.status="0"

        <if test="null!=company_jobSearchParam.search and ''!=company_jobSearchParam.search">
            AND job.`name`LIKE CONCAT('%',#{company_jobSearchParam.search},'%')
        </if>
        <if test="null!=company_jobSearchParam.c_address and ''!=company_jobSearchParam.c_address">
            AND company.`address` LIKE CONCAT('%',#{company_jobSearchParam.c_address},'%')
        </if>
        <if test="null!=company_jobSearchParam.experience and ''!=company_jobSearchParam.experience">
            AND job.`experience` =#{company_jobSearchParam.experience}
        </if>
        <if test="null!=company_jobSearchParam.qualification and ''!=company_jobSearchParam.qualification">
            AND job.`qualification` =#{company_jobSearchParam.qualification}
        </if>
        <if test="null!=company_jobSearchParam.salary and ''!=company_jobSearchParam.salary">
            AND job.`salary` LIKE CONCAT('%',#{company_jobSearchParam.salary},'%')
        </if>

        ORDER BY
            job.id
    </select>
<!--根据招聘者id查询职位(分页)-->
    <select id="getJobByRecruiterId" resultMap="getAllJobWithCompany">
        select
            job.*,
            company.id,
            company.address
        from
            job
            left join company on job.company_id = company.id
        where
            job.user_id=#{uid}
          and job.status=#{status}
        <if test="0==con">
            and job.posted_at &gt; #{date}
        </if>
        <if test="1==con">
            and job.posted_at &lt; #{date}
        </if>

    </select>

<!--    更新job状态-->

    <update id="updateStatus">
        update job
        set job.status=#{status}
        where job.id=#{id}
    </update>
</mapper>
